body{
  padding:0
}
.table{
  width:320px; 
  height:80px; 
  overflow:auto;
}
/* scrolltable rules */
table  { margin-top:  20px; display: inline-block; overflow: auto; }
th div { margin-top: -20px; position: absolute; }

/* design */
table { border-collapse: collapse; }
tr:nth-child(even) { background: #EEE; }